.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0 auto;
}

.modal {
  background: hotpink;
}

.header {
  display: flex;
  justify-content: center;
  margin: 4em 0 2em 0;
}

.cards {
  display: grid;
  grid-row-gap: 1em;
  margin-top: 1em;
}
