.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0 auto;
}

.modal {
  background: rgba(10, 10, 10, 0.3);
  color: rgb(134, 104, 53);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  place-items: center;
  padding: 1em;
}

.modal__body {
  background: white;
  border-radius: 1em;
  padding: 10em 1em;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.16);
}

.header {
  display: flex;
  justify-content: center;
  margin: 4em 0 2em 0;
}

.cards {
  display: grid;
  grid-row-gap: 1em;
  margin-top: 1em;
}
