.staticWatchlistProduct {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.6em rgba(0, 0, 0, 0.16);
  margin: 0 auto;
  max-height: 9em;
  width: 80%;
  max-width: 40em;
  transition: all ease-in-out 150ms;
  align-content: space-between;
}
.staticWatchlistProduct:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease-in-out 150ms;
}

.staticWatchlistProduct__img {
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.staticWatchlistProduct__text {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  margin: 0.5em 0;
}

.staticWatchlistProduct__text:nth-child(2) {
  overflow: hidden;
}

.statictWatchlistProduct__title {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  max-width: 80%;
}

.staticWatchlistProduct__icon {
  position: fixed;
  right: 10%;
  background: none;
  border: none;
}
.staticWatchlistProduct__icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease-in-out 150ms;
}

.staticWatchlistProduct__description {
  color: var(--primary-color);
  font-size: 0.8em;
  margin: 0.25em 0;
  width: 70%;
  max-width: 80%;
  letter-spacing: 0;
  overflow: hidden;
}

.staticWatchlistProduct__price {
  color: var(--secondary-text-color);
  font-size: 0.9em;
  margin: 0.25em 0;
  padding-bottom: 1em;
}

.staticWatchlistProduct__targetPrice {
  color: var(--price-text-color);
  font-size: 0.9em;
  margin: 0.25em 0;
}

.staticWatchlistProduct__shoplink {
  background: none;
  border: none;
}
