.resultElement {
  display: grid;
  grid-auto-flow: column;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.6em rgba(0, 0, 0, 0.16);
  letter-spacing: 0.08em;
  margin: 0 auto;
}

.resultElement__img {
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  height: 10em;
  width: 8em;
}

.resultElement__info {
  display: grid;
  grid-auto-flow: row;
  align-self: start;
}
.resultElement__title {
  font-size: 1.3em;
}

.resultElement__vendor {
  color: var(--secondary-color);
  font-size: 1.3em;
  align-items: center;
}

.resultElement__price {
  color: var(--secondary-text-color);
  font-size: 1.1em;
}
