.watchlistProduct {
  display: flex;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.6em rgba(0, 0, 0, 0.16);
  margin: 0 auto;
  max-height: 9em;
  width: 90vw;
  max-width: 40em;
  align-content: space-between;
  margin-top: 1em;
}
.watchlistProduct:hover {
  cursor: pointer;
}

.watchlistProduct__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.watchlistProduct__img {
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  place-self: center;
}

.watchlistProduct__text {
  display: grid;
  margin: 0.4em 0.4em 0;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr auto;
}

.watchlistProduct__text:nth-child(2) {
  overflow: hidden;
}

.watchlistProduct__title {
  grid-row: 1;
  align-self: start;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

.watchlistProduct__icon {
  grid-column: 2;
  justify-self: end;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.watchlistProduct__icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.watchlistProduct__description {
  grid-row: 2;
  color: var(--primary-color);
  font-size: 0.8em;
  margin: 0.25em 0;
  letter-spacing: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.watchlistProduct__price {
  grid-row: 3;
  color: var(--secondary-text-color);
  font-size: 0.9em;
  margin: 0.2em 0;
}
.watchlistProduct__targetPrice {
  grid-row: 4;
  color: var(--price-text-color);
  font-size: 0.9em;
  margin: 0 0 0.2em 0;
  align-self: center;
}

.watchlistProduct__shoplink {
  grid-row: 4;
  border: none;
  background: none;
  padding: 0;
  margin: 0 0 0.2em 0;
  align-items: end;
}

.staticWatchlistProduct__shoplink:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease-in-out 150ms;
}
