.headline {
  color: var(--secondary-color);
  font-size: 1.5em;
  text-align: center;
}
.label {
  background-color: var(--searchField-color);
  opacity: 50%;
  border-radius: 0.5em;
  color: var(--primary-text-color);
  align-items: center;
}

.label__input {
  background: none;
  border: none;
  color: var(--primary-text-color);
}

.label__input::placeholder {
  color: var(--placeholder-color);
}
