.container {
  display: grid;
  justify-items: center;
}

.container__label {
  font-size: 1.4em;
  font-family: var(--primary-font);
  color: var(--secondary-text-color);
  letter-spacing: 0.06em;
  text-align: center;
}

.container__input {
  border: none;
  background: var(--input-color);
  border-radius: 2.5em;
  box-shadow: 0 0.125em 0.3em rgba(0, 0, 0, 0.16);
  padding: 0.5em 9.3em 0.5em 0.5em;
  margin-top: 0.4em;
  align-items: center;
  margin-left: 0;
}

.container__input::placeholder {
  color: var(--placeholder-color);
  font-family: var(--primary-font);
  padding: 0.5em;
  font-size: 1.2em;
}

.container__input:focus {
  outline: none;
  border: 0.1em solid var(--secondary-text-color);
}
