@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family: 'worksans', 'sans-serif';

  /* COLORS */
  --primary-color: #987c4c;
  --secondary-color: #726e67;
  --primary-text-color: #000;
  --secondary-text-color: #866835;
  --price-text-color: #6961ed;
  --background-color: #fff;
  --input-color: #eed7c5, 0.5;
  --navbar-background-color: #fff;
  --navbar-icon-color: #866835;

  /* SIZES */
  --font-size: 100%;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: var(--font-family);
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
