@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --primary-font: 'Work Sans', 'sans-serif';

  /* COLORS */
  --primary-color: #726e67;
  --primary-text-color: #000;
  --secondary-text-color: #866835;
  --price-text-color: #6961ed;
  --background-color: #fff;
  --input-color: rgba(134, 104, 53, 0.2);
  --placeholder-color: #848181;
  --notification-color: #03b461;
  --navbar-background-color: linear-gradient(
    rgba(250, 248, 248, 0.2),
    rgba(134, 104, 53, 0.2),
    rgba(134, 104, 53, 0.4),
    rgba(134, 104, 53, 0.6),
    rgba(134, 104, 53, 0.7)
  );
  --navbar-icon-color: #866835;

  /* SIZES */
  --font-size: 100%;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: var(--primary-font);
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
