.resultProduct {
  display: flex;

  /* grid-template-columns: 1fr 2fr; */
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.6em rgba(0, 0, 0, 0.16);
  margin: 0 auto;
  max-height: 9em;
  width: 90vw;
  max-width: 40em;
  transition: all ease-in-out 150ms;
  align-content: space-between;
}
.resultProduct:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease-in-out 150ms;
}

.resultProduct__img {
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.resultProduct__text {
  display: grid;
  margin: 0.4em 0;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr auto;
}

.resultProduct__text:nth-child(2) {
  overflow: hidden;
}

.resultProduct__title {
  grid-row: 1;
  align-self: start;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

.resultProduct__icon {
  grid-column: 2;
  align-self: start;
  background: none;
  border: none;
  padding: 0;
  margin-right: 0.4em;
  margin-top: 0;
}
.resultProduct__icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease-in-out 150ms;
}

.resultProduct__description {
  grid-row: 2;
  color: var(--primary-color);
  font-size: 0.8em;
  margin: 0.25em 0;
  letter-spacing: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resultProduct__price {
  grid-row: 3;
  color: var(--secondary-text-color);
  font-size: 0.9em;
  margin: 0;
}
