.resultProduct {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.6em rgba(0, 0, 0, 0.16);
  margin: 0 auto;
  max-height: 9em;
  width: 80%;
  max-width: 90%;
  transition: all ease-in-out 150ms;
  align-content: space-between;
}
.resultProduct:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease-in-out 150ms;
}

.resultProduct__imgWrapper {
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  height: auto;
}
.resultProduct__img {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

.resultProduct__text {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: auto;
  overflow: hidden;
}

.resultProduct__title {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  max-width: 80%;
}

.resultProduct__icon {
  background: none;
  border: none;
}

.resultProduct__description {
  color: var(--primary-color);
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0.25em;
  width: 100%;
  max-width: 80%;
  letter-spacing: 0;
  overflow: hidden;
}

.resultProduct__prices {
  flex-direction: column-reverse;
}
.resultProduct__price {
  color: var(--secondary-text-color);
  font-size: 0.9em;
  margin: 0.25em 0;
  padding-bottom: 1em;
}
