.resultProduct {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.6em rgba(0, 0, 0, 0.16);
  margin: 0 auto;
  height: 9em;
  width: 80%;
  max-width: 25em;
  transition: all ease-in-out 150ms;
}
.resultProduct:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease-in-out 150ms;
}

.resultProduct__img {
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.resultProduct__card {
  padding-left: 1em;
  margin-right: 1em;
}

.resultProduct__titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

.resultProduct__title {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  max-width: 80%;
}

.resultProduct__description {
  color: var(--primary-color);
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0.25em;
  max-width: 80%;
  letter-spacing: 0;
}

.resultProduct__price {
  color: var(--secondary-text-color);
  font-size: 0.9em;
  margin: 0.25em 0;
  padding-bottom: 1em;
}
