.selectedProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.selectedProduct__img {
  width: 10em;
  height: 10em;
}

.selectedProduct__price {
  color: var(--secondary-text-color);
}
