.staticProducts {
  display: grid;
  grid-row-gap: 1em;
  margin-top: 1em;
}
.main {
  display: grid;
  grid-row-gap: 1em;
  margin-top: 1em;
}

.watchlistProduct__logo {
  position: fixed;
  left: 40%;
  top: 1%;
}
